<div class="meio-contato">
<div id="stylized" class="contato">
  <h1>Contato</h1>
  <p>Corretora: Neuza Silva<br />Fone: (64)00 00000<br />E-mail: neuza@nzimoveis.com.br</p>
<%= render 'form' %>

</div>

</div>
