/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.fancybox
 *= require jquery.fancybox-thumbs
 *= require_self
 * require_tree .
 */
html
{
    margin: 0 auto;
    padding: 0 auto;
    background: #179ede url("bg-topo-html.jpg") repeat-x;
}

body
{
    margin: 0 auto;
    padding: 0 auto;
    font-family:  Arial, Verdana, sans-serif;
}

#content
{
    width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 0 auto;
    display: table;
}

#topo
{
    width: 960px;
    height: auto;
    float: left;


}

#topo ul
{
    float: right;
    margin: 15px
}

#topo ul li
{
    display: inline;
}

#topo ul a
{
    color: #666666;
    text-decoration: none;
    font-weight: bold;
    font: bold 16px Arial, Helvetica, sans-serif;
}

h1.logo{
    width: 250px;
    height: 100px;
    float: left;
    margin: 100px 0 0 20px;
    text-indent:-9999px;
    background: url(logo.jpg) center top no-repeat;
    display: block;
}

h2.caldasnovas{
    width: 390px;
    height: 10px;
    float: right;
    clear: both;
    display: block;
    color: #ffffff;
    font-size: 35px;
    margin: -80px 0 0 0;

}

#conteudo_baner span {
    width: 244px;
    float: left;
    margin: 1px 0 0 20px;
    clear: both;
    color: #2ba7dd;
    font: bold 12px Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 3px 0px 3px 6px;
}

#baner
{
    background: url(bg-flat.jpg) no-repeat;
    width: 960px;
    height: 334px;
    display: block;
    float: left;
    margin-bottom: 2px;
}

#conteudo_baner
{
    background: url(baner.jpg) no-repeat;
    width: 921px;
    height: 294px;
    margin: 20px 0 0 19px;
    float: left;
}

#conteudo_baner ul.menu {
    width: 873px;
    *width: 893px;
    height: 36px;
    margin: 240px 0 0 4px;
    background: url(bg.png) repeat;
    *padding: 0 0 0 20px;
}

#conteudo_baner ul.menu li {

    float: left;
    list-style-type: none;
}

#conteudo_baner ul.menu li a {

    color: #f7d401;
    display:block;
    text-decoration: none;
    width: 70px;
    font-size: 12pt;
    text-justify: auto;
    margin-top: 9px;
}

#conteudo_baner ul.menu li a:hover {

    text-decoration: underline;
}

.flat
{
    background: url(bg-flat.jpg) repeat;
    width: 960px;
    height: auto;
    float: left;
    margin: 0 0px 5px 0px;
    padding: 0 0 20px 0;
}

.flat ul
{
    list-style-type: none;
}

.flat ul li
{
    width: 130px;
    height: 115px;
    float: left;
    margin: 15px 15px 3px 3px;
}

.flat ul li a img
{
    width: 130px;
    height: 115px;
    border: #fff 2px solid;
}

.flat h2
{
    margin-left: 10px;
    *padding: 10px 0 0 0;
}

.flat p
{
    text-align: justify;
    color: #666666;
    font-size: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

h2
{
    font-weight: bold;
    font: bold 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #00BFFF;
}

#meio
{
    width: 960px;
    height: auto;
}

#rodape {
    clear: both;
    display:block;
    float: right;
    font: bold 13px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 0 0 5px 400px;
    width: 400px;
    height: 20px;
}

#rodape a {
  text-decoration: none;
  color: white;

}

#contato
{
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 50px;
}

.meio-contato{
    clear: both;
    background: url(bg-flat.jpg) repeat-y;
    width: 960px;
    height: auto;
    margin-top: 10px;
}

.contato{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    width:500px;
    padding:14px;
}

.contato p, .contato h1, .contato form, .contato button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

/* ----------- stylized ----------- */

#stylized h1 {
    font-size:18px;
    font-weight:bold;
    margin-bottom:8px;
    color: #00BFFF;
}
#stylized p{
    font-size:14px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}

#stylized label{
    display:block;
    font-weight:bold;
    padding: 8px 0 0 0;
    text-align:right;
    width:140px;
    float:left;
    color: #00BFFF;
}
#stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
#stylized input, #stylized select {
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:250px;
    margin:2px 0 20px 10px;
}
#stylized textarea{
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:250px;
    height: 250px;
    margin:2px 0 20px 10px;
}
#stylized input.button_contato{
 width: auto;
 height: auto;
 float: left;
 padding: 5px;
 background: #666666;
 color: #00BFFF;
 margin: 0 0 0 150px;
 cursor: pointer;

 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;

 -o-border-radius: 5px;
 -ms-border-radius: 5px;
 -khtml-border-radius: 5px;
}

#error_explanation ul li{
    text-decoration: none;
    color: #ff0000;
}

#notice {
    color: #ffe913;
    padding-top: 25px;
}

.button_contato {
    width: auto;
    height: auto;
    float: left;
    padding: 5px;
    background: #666666;
    color: #00BFFF;
    margin: 0 0 0 0px;
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.button_contato:hover{
    background: yellow;
}

#stylized input.button_contato:hover{
    background: white;
}


.pagination {
    text-align: center;
    padding: 15px 0 0 0;
    cursor: default;
    width: 960px;
    height: 25px;
    background: url(bg-flat.jpg) no-repeat;
    clear: both;

}
.pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
.pagination .disabled {
    color: #aaaaaa; }
.pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #AAA; }
.pagination a {
    border: 1px solid #dddddd;
    color: #00BFFF;
    text-decoration: none; }
.pagination a:hover, .pagination a:focus {
    background: #00BFFF;
    color: white; }
.pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
.pagination .previous_page, .pagination .next_page {
    border-width: 2px; }
.pagination .previous_page {
    margin-right: 1em; }
.pagination .next_page {
    margin-left: 1em; }
